body {
  margin: 0;
  height: 100%;
}

nav {
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 80%;
  background-color: red;
}